@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:wght@300;400;500&display=swap');

:root{
    --main1: #344e41;
    --main2: #a3b18a;
    --main3: #3a5a40;
    --main4: #588157;
    --main5: #CCD5AEFF;

    /*--main1: #e0ece6;*/
    /*--main2: #20231b;*/
    /*--main3: #c6fcce;*/
    /*--main4: #172116;*/
    /*--main5: #1c1f12;*/
    /*--main1: white;*/
    /*--main3: white;*/
    /*--main2: black;*/
    /*--main4: black;*/
    /*--main5: black;*/
}
.disable-transitions *{
    transition: none !important; /* Disable transitions */
 }
.background{
    background: rgb(212,163,115);
    background: linear-gradient(90deg,var(--main5) 0%, var(--main4) 100%);
    min-height: 100vh;
    width: 100vw;

    padding: 25px;
}


.mission{
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height:600px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
}


.dashPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:80px;
}
.dashPage h1{
    font-size:4rem;
    color: var(--main3);

}


.mission2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height:600px;
    padding: 5%;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 15px;
}
.mission2 h3,.mission h5{
    width:100%;
}
.mission2 h3{
    font-size: 1.7rem;
    color: var(--main3);
}
.mission2 h5{
    font-size: 1.5rem;
    color: #b93737;
}

.mission div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:30%;
}
.mission2 div{
    width:100%;
    text-align: center;
    max-width:1500px;


}
/*img{*/
/*    height:auto;*/
/*    max-width: 100px;*/
/*}*/

.mission img{
    box-shadow: var(--main1) 5px 5px;
    border-radius: 5px;
    width:60%;
    max-width: 900px;
    min-width:350px;
    height: auto;
}
.mission2 img{
    box-shadow: var(--main1) 5px 5px;
    border-radius: 5px;
    width:100%;
    max-width: 800px;
    min-width:350px;
    height: auto;
}
.mission div h1{
    font-size: 3.5rem;
    font-weight:700;
    color: var(--main1);

}

.mission div h3{
    font-size:1.5rem;
    font-weight: 400;
    color: var(--main1);


}
.mission div button{
    background: var(--main3);

    border-radius: 20px;
    border: 2px solid var(--main4);
    transition: 0.3s;
    cursor: pointer;
    color: var(--main2);
    padding:5px 100px;
    font-weight:400;
    font-size:1.5rem;
    font-family: 'Poppins', sans-serif;
}

.mission div button:hover{
    /*background: rgba(58, 90, 64, 0);*/
    /*color: var(--main3);*/
    /*border: 2px solid var(--main1);*/
    background-color: var(--main2);
    color: var(--main3);

}

.birdsections{
    margin: 200px auto;
    /*height:800px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.birdsections div{
    background: rgba(255, 255, 255, 0.2);
    /*border:3px solid white;*/
    padding:25px;
    border-radius: 15px;
    height:500px;
    width:25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;

}

.birdsections div:hover{
    transform:scale(1.1)
}

.birdsections div img{
    border-radius: 5px;
    box-shadow: var(--main1) 5px 5px;

    object-fit: cover;
    width:100%;
    height:300px;
}

.birdsections div h2{
    font-size:2rem;
    color: var(--main1);
}

.homeContainer {
}
footer{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:50px;
    margin-top: -50px;
    gap:5px;
    background-color: rgba(255, 255, 255, 0.15);

}
footer a{
    color: black;
    cursor: pointer;
    margin-top: 4px;
    transition: 0.3s;
}
footer a:hover{
    transform:scale(1.1);
}
footer h4{
    font-size:0.8rem;
}





form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding:100px 50px;
    max-width:700px;
    /*height:80vh;*/
    margin: 100px auto;
    gap:10px;
}
.registerForm{
    height:650px;
}
.loginForm{
    height:500px;
}

input{
    width:100%;
    border:none;
    border-radius: 10px;
    padding: 10px 10px;
}
form label{
    align-self: flex-start;
    margin-left: 10px;
}
form button{
    margin-top: 25px;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--main2);
    background: var(--main3);
    border: 2px solid var(--main4);
    width:70%;
    padding:10px 0;
    transition: 0.2s;
    border-radius: 25px;
}

form button:hover{
    background-color: var(--main2);
    color: var(--main3);
}
form p span{
    color: blue;
    cursor: pointer;
}




.settingsContainer{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 20px 50px 200px;
    max-width:700px;
    margin: 200px auto;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.settingsTitle{
    font-size: 2.5rem;
    font-weight: 600;
}
.switches_container{
    width:100%;
    max-width: 400px;
}
.switches_container div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid black;
}
.switches_container div h2{
    /*font-size: 1.2rem;*/
    width:200px;
}

.switches_container div svg{
    height:55px;
    width:55px;
    border-radius: 50px;
    padding:5px;
    cursor: pointer;
}
.switches_container div svg:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.switches_container div button{
    background-color: rgba(0,0,0,0);
    box-shadow: none;
    border:none
}

.fontSlider{
    width:300px;
}

.searchContainer{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchContainer h1{
    color: var(--main1);
    font-size: 4rem;
    font-weight: 600;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.searchBar{
    /*width:80%;*/
    max-width:80%;
    height:40px;
    width: 800px !important;
    border-radius: 25px 0 0 25px;
    z-index: 0;
}
.search button{
    width: 100px;
    height:40px;
    border: none;
    border-radius: 0 25px   25px 0;
    display: flex;
    flex-direction: row;
    gap:10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.viewAllButton{
    margin-top: 30px;

    padding:10px 50px;
    border-radius: 20px;
    border:2px solid white;
    /*background-color: var(--main1);*/
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
}

.charts{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:15px;
    width:100%;
    margin: 50px auto;

    height:80vh;
}

.rankings{
    border-radius: 25px;
    width:400px;
}
.heatmap{
    background-color: rgba(255, 255, 255, 0);
    padding:100px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    align-items: center;
}

.rankings h2{
    font-size: 3rem;
    color: var(--main3);

}

.heatmap img{
    max-height:700px;
    min-width:200px;
    width:100%;
}
.birds_rank{
    display: flex;
    flex-direction: row;
    gap:10px;
}
.birds_rank h3{
    width:100px;
}
.test1{
    grid-column: 1/2;
    grid-row:1/2;
    background-color: rgba(255, 255, 111, 0.5);
    border-radius: 25px;

}
.test2{
    grid-column: 1/2;
    grid-row:2/3;
    background-color: rgba(255, 255, 111, 0.5);
    border-radius: 25px;

}
.piChart{
    grid-column: 1/3;
    grid-row:3/4;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;

}

.piChart img{
    height:200px;
    width:100%;
}

.searchPage{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchPage h1{
    font-size: 4rem;
}
.pageTitle{
    margin: 80px auto -50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    color: var(--main1);
}
.pageTitle h1{
    font-size:4rem;
}
.pageTitle button{
    background-color: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    padding: 0;
    height:50px;

}
.pageTitle button svg{
    width:50px;
    height:50px;
    color: var(--main1);
}
.pageTitle button:hover{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 25px;
}
.birdContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:50px;
    max-width:1200px;
    transition: 0.3s ease-in-out;


}
.bird{
    width:300px;
    height:400px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius:25px;
    transition: 0.3s ease-in-out;
    position:relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;


}
.bird:hover{
    transform:scale(1.1);
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.bird img{
    /*height:300px;*/
    width:300px;
    /*border-radius: 25px 0 0 25px;*/
    height: 150px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    object-position: 50% 15%;
}
.bird button{
    background-color: rgba(0,0,0,0);
    border:none;
    position: absolute;
    right:10px;
    bottom:10px;
    padding:5px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;

}
.bird button svg{
    box-sizing: content-box;
    width:30px;
    height: 30px;

}
.bird button:hover{
    background-color: rgba(128, 128, 128, 0.2);

}
.titles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.titles h1{
    font-size:2rem;
    font-weight: 600;
    margin-bottom:10px;
}
.titles h4{
    font-weight: 400;
    margin:0;
    font-size: 1rem;
}
.seen{
    font-size:2rem;
    color: var(--main4);
    margin:0;
    padding:0;
    position: absolute;
    bottom:10px;

}
.left{
    padding-left:10px;
}
.expanded {
    width:100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    height:400px;
    transition: 0.3s ease-in-out;
}
.expanded .titles{
    display: flex;
    flex-direction: column !important;
    flex-wrap: nowrap;
}
.expanded .titles h1{
    font-size: 3rem;
    padding:0;
}
.expanded .titles h4{
    font-size: 2rem;
    padding:0;
    align-items: center;
}
.expanded p{
    font-size: 1.2rem;
    transition: 0.3s ease-in-out;

}
.expanded .seen{
    font-size: 2.5rem;
}
.expanded .remaining{
    display: flex;
    flex-direction: column;
}

.expanded:hover{
    transform:scale(1);
}
.expanded img{
    height:100%;
    max-width:300px;
    border-radius: 25px 0 0  25px;
}

.tester{
    display: block !important;
}
.tester2{
    display: none;
}


.submission{
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:200px;
}
.submission svg{
    width:40px;
    height:40px;
    background-color: rgba(128, 128, 128, 0.2);
    border:1px solid black;
    padding:5px;
    cursor: pointer;
}
.submission svg:first-child{
    border-radius: 10px 0 0 10px;
}
.submission svg:last-child{
    border-radius: 0 10px  10px 0;
}

.submission input{
    border-radius: 0;
    width:80px;
    height:40px;
    border-top:1px solid black;
    border-bottom:1px solid black;
    text-align: center;
    font-size:2rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.birdContainer{
    margin: 100px auto;
}


.submitBird, .submitBird2, .submitBird3{
    /*margin: 0 auto;*/
    padding:10px;
    border:2px solid var(--main5);
    border-radius: 0 0 25px 25px;
    color: var(--main5);
    cursor: pointer;
    margin:0;
    position: relative;
    width:300px;
    background-color: var(--main1);
}
.previewContainer{
    position: fixed;
    top:120px;
    right:15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.desktopPreview{
    display: flex;
    background-color: white;
    /*height:200px;*/
    max-height:200px;
    width:300px;

    overflow: scroll;
    border-radius: 25px 25px 0 0;
    border-right:2px solid var(--main5);
    border-left:2px solid var(--main5);
    border-top:2px solid var(--main5);
}

.desktopPreview ul{
    list-style: none;

}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top:100px;
    left:5vw;
    right:5vw;
    border-radius: 20px;
    width:90vw;
    height:88vh;
    top:10vh;
    bottom:5vh;
    background-color: white;
    box-shadow: 0px 0px 15px 300px rgba(0, 0, 0, 0.9);
    z-index: 300;
    overflow: scroll;
}
.closeModal{
    position: fixed;
    top:10vh;
    right:5vw;
    background-color: rgba(189, 189, 189, 0.6);
    border-radius: 0 20px 0 20px ;
    border:none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.closeModal svg{
    color: black;
    width:50px;
    height:50px;

}
.closeModal:hover{
    background-color: rgb(189, 189, 189);
}
.submitBird2{
    display: none;
}
.modal h2{
    font-size:3rem;
    margin:15px ;
}
.modal h4{
    font-size: 2rem;
    margin:15px;
}
.dropdown{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom:100px;
    gap:15px;

}
.dropdown ul{
    background-color: var(--main5);
    border-radius: 25px;
    width:400px;
    height:400px;
    overflow: scroll;
    list-style: none;
}
.dropdown ul li{
    font-size: 2rem;
    font-weight: 500;
    margin-left:-25px;
}

.dorp{
    width:400px;
    height:400px;
    background-color: #344e41;
}
.submitBird3{
    position: fixed;
    bottom:40px;
    width:80%;
    left:10%;
    right:10%;
    border-radius: 25px;


}
.flagPage{
    padding-top:80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flagPage h1{
    font-size: 4rem;
    color:var(--main1);
}
.items_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main3);
    width:90vw;
    max-width: 1200px;
    height:70vh;
    padding:10px;
}
.flagged_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    background-color: var(--main2);
    width:100%;
    min-height:50px;
}
.checked_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main4);
    width:100%;
    min-height:50px;
    padding: 0px 15px;

}

.confirmContainer{
    margin: 200px auto;
    width:700px;
    height:200px;
    background-color: var(--main3);
    text-align: center;
    position: relative;
    border-radius: 25px;
    border: 3px solid var(--main2)
}

.confirmContainer h1{
    font-size: 3rem;
    height:60%;
    font-weight:600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    color: var(--main5);
}

.confirmContainer button{
    width:100%;
    height:40%;
    font-size:2.5rem;
    font-weight:500;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom:0;
    left:0;
    border: none;
    border-top:2px solid var(--main5)
}

.flag_container_container,.review_container_container{
    width: 100%;
    height: 60vh;
    overflow: scroll;
}
.flagged_container button,.checked_container button{
    background-color: rgba(0,0,0,0);
    padding:5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:none;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 35px;
}
.flagged_container button:hover{
    background-color: rgba(255, 255, 255, 0.4);

}
.checked_container button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
.flagged_container button svg, .checked_container button svg{
    width:50px;
    height:50px;
}
.flagg,.reviewd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*flex-wrap: wrap;*/
    gap:25px;
    text-align: center;
    background-color: var(--main1);
    color: var(--main5);
    border-bottom: 2px solid var(--main2);
    padding:0px 15px;

}
.reviewd{
    justify-content: space-between;
}
.butContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.approve,.reject{
    background-color: #4baf4b;
    color: #0c280b;
    padding:10px 35px;
    font-size: 1.8rem;
    font-weight: 600;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 25px;
    width:200px;

}
.approveDiff{
    background-color: #4baf4b;
    color: #0c280b;
    padding:10px 35px;
    font-size: 1.8rem;
    font-weight: 600;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 25px;
    margin:10px;
}
.reject{
    background-color: #d53b3b;
    color: #421111;
}


@media only screen and (max-width: 750px) {
    .flagg,.reviewd{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1050px) {
    .previewContainer{
        display: none;
    }

    .submitBird2{
        display: block;
        position: fixed;
        bottom:10px;
        width:80%;
        left:10%;
        right:10%;
        border-radius: 25px;
        font-size: 1.2rem;

    }
    .expanded{
        height:700px;
        max-width:90vw;
    }
    .titles h1{
        font-size: 2rem !important;
    }
    .expanded img{
        max-width:45vw;
        height:50%;
        border-radius: 25px 0 0 0;
    }
    .titles .left{
        margin-left: 10px;
    }
    .expanded .remaining{
        display: inline;
        max-width:45vw;
        overflow-wrap: break-word;
        hyphens: auto;
    }
    .expanded #bigSummary{
        position: absolute;
        left:0;
        top:50%;
    }
    .bird button svg {
        width: 40px;
        height: 40px;

    }
    .bird button{
        bottom:5px;
        right:5px;
    }
    .expanded .seen{
        position: absolute;
        left:5px;
        bottom:5px;
    }
    .expanded .submission{
        position: absolute;
        align-items: center;
        bottom:10px;
        width:300px;
        left: 50%;
        transform: translate(-50%);
    }


    .expanded .submission svg{
        width:50px;
        height:60px;
        padding:10px;

    }
    .expanded .submission svg:first-child{
        border-radius: 20px 0 0 20px;
    }
    .expanded .submission svg:last-child{
        border-radius: 0 20px  20px 0;
    }

    .expanded .submission input{
        width:110px;
        height:60px;
        font-size:3rem;
    }
}