@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@300;400;500&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background: rgb(212,163,115);
    background: linear-gradient(90deg,var(--main5) 0%, var(--main4) 100%);
    align-items: center;
    justify-content: space-between;
    height:100px;
    width:100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 30px 0;
    font-weight: 400;
    position: fixed;
    /*border-bottom: 2px solid #344e41;*/
    box-shadow: 0px 4px 5px 0px var(--main1);
    z-index: 50;
}


.adminNav,.userNav{
    justify-content: space-between;
}

.navbar h1{
    font-size: 3rem;
    color: var(--main1);
    font-family: 'Poppins', sans-serif;

}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:35px;
    transition: 0.3s ease-in-out;
    padding:0;


}
.adminNav ul ,.userNav ul{
    margin-left: -160px;

}
.sign,.register{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size:1.3rem;

}

.settings_links{
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding:0 10px;
    transition:0.2s ease-in-out;
    text-align: center;
    margin-right: auto;
}

.settings_links:hover,.dropdown_links:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.logo{
    text-decoration: none;
    color: white;
    padding:10px 10px;
    background-color: rgba(0,0,0,0) !important;
    width:400px;
    font-family: 'Poppins', sans-serif;

}
.navbar div{
    display: flex;
    flex-direction: row;
    width:200px;
    align-items: center;
    justify-content: center;
    gap:25px;
}
.diff{
    text-decoration: none;

    text-align: center;
    transition: 0.3s ease-in-out;
    padding:10px 15px;
    color: var(--main1);
    background-color: var(--main2);
    border: 2px solid var(--main3);
    border-radius: 20px;
    font-size:1.3rem;

    font-family: 'Poppins', sans-serif;
}
.signout{
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.diff:hover{
    background-color: rgba(0,0,0,0);
    color: white;
}

.links{
    text-decoration: none;
    color: white;
    padding:15px;
    border-radius: 15px;
    transition:0.2s ease-in-out;
    font-size:1.3rem;
    font-family: 'Poppins', sans-serif;

}

.dashes{
    text-decoration: none;
    color: white !important;
    padding:15px;
    border-radius: 15px;
    width:300px;
    transition:0.2s ease-in-out;
    background-color: rgba(0,0,0,0) !important;

}

.else{
    background-color: rgba(255, 255, 255, 0);
}

.links:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.active{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.active:hover{
    background-color: rgba(255, 255, 255, 0.5);
}

.sign{
    border-bottom:2px solid rgba(0,0,0,0);
}

.register{
    box-sizing: content-box;
    /*padding:5px 20px;*/
    color: var(--main2);
    background: var(--main3);
    border: 2px solid var(--main4);
    padding:10px 15px;
    border-radius: 20px;
    transition:0.2s ease-in-out;
    font-size:1.3rem;
    margin-right:-15px;
}

/*.sign:hover{*/
/*    border-bottom:2px solid #a3b18a;*/
/*}*/
.register:hover{
    background-color: var(--main2);
    color: var(--main3);
}

.navbar svg{
    display: none;
    min-width:60px !important;
    min-height:60px !important;
    /*margin-right:35px !important;*/
    color: white;
    text-align: center;
}
ul svg{
    display: none;
}
.settings svg{
    min-width:30px !important;
    min-height:50px !important;
    /*padding:10px;*/
    display:block;
    margin:0 auto;
}


.dropdown_links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10px 10px;
    text-align: center;
    border-radius: 25px;
    color: white;
}
.dropdown_links .settings svg{
    margin-top:-20px;
}
.hide{
    display: none;
}
.hide2{
    display: block;
}
@media only screen and (max-width: 1050px) {
    .navbar svg{
        display: block;
    }
    .navbar ul{
        display: none;
        background-color: var(--main4);
        width:100vw;
        height:100vh;
        top:0;
        margin:0;
        left:0;
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .navbar ul.show-menu{
        display: flex;
    }



    /*.dashes{*/
    /*    padding:15px 25px !important;*/
    /*}*/
    .links:hover{
        background-color: var(--main4);
    }
    .links span{
        padding:45px 25px !important;
        font-size: 2.5rem;
    }
    .dashes span{
        padding:45px 25px !important;
        font-size: 2.5rem;
    }
    .register{
        padding:0 ;
        background-color: rgba(0,0,0,0);
        border:none;
        color: white;
    }
    .sign,.register{
        font-size: 2rem;
        padding:0 ;
    }

    ul svg{
        display: block;
        width:50px;
        height:50px;
        margin:25px;
    }
    .navbar ul li{
        margin: 10px 0;
    }
    .active{
        background-color: var(--main4);
        color: white;
    }
    .hide{
        display: block;
    }
    .hide2{
        display: none !important;
    }
}