@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@300;400;500&display=swap');

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*background-color: rgba(255, 255, 255, 0.25);*/
    align-items: center;
    justify-content: space-between;
    height:100px;
    width:100%;
    font-family: 'Poppins', sans-serif;
    padding: 0 30px 0;
    font-weight: 400;
    position: absolute;


}

.navbar h1{
    font-size: 3rem;
    color: #344e41;
    font-family: 'Poppins', sans-serif;

}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap:15px;
}

.sign,.register{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
    font-size:1.3rem;


}



.links{
    text-decoration: none;
    color: white;
}
.active{
    color: green;
}
.sign{
    border-bottom:2px solid rgba(0,0,0,0);
}

.register{
    padding:5px 20px;
    color: #344e41;
    background-color: #a3b18a;
    border: 2px solid #3a5a40;
    border-radius: 20px;

}

.sign:hover{
    border-bottom:2px solid #a3b18a;
}
.register:hover{
    background-color: rgba(0,0,0,0);
    color: white;
}